.comment {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px; /* Adjust as needed */
}

.comment-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
}

.comment-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
}

.comment-rating {
    color: gray;
    margin: 0 10px;
}

.comment-link-style {
    color: gray;
    font-style: italic;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.comment-link-style:hover {
    color: #C8A2C8;
    background-color: transparent;
    /* Change to the color you prefer for hover */
}

.comment-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto; /* Push the button to the right */
}

.nested-comment {
    margin-left: 20px; /* Adjust as needed */
}
