.leaderboard-page {
    text-align: center;
    margin-top: 20px;
}

.leaderboard-container {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.leaderboard-slot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.position-icon {
    margin-right: 20px;
    font-size: 24px;
    flex-shrink: 0;
}

.user-info {
    display: flex;
    /* Use flexbox for centering */
    flex-direction: column;
    /* Align children in a column */
    align-items: center;
    /* Center horizontally */
    flex: 1;
    /* Allow user-info to take up remaining space */
}

.user-info div {
    display: flex;
    /* Ensure the div containing the link is also a flex container */
    align-items: center;
    /* Center the content horizontally */
}

.user-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.user-info p {
    margin: 0;
    color: #888;
    font-size: 14px;
}

.leaderboard-link-style {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    font-style: italic;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    /* Ensure the link is treated as an inline element */
}

.leaderboard-link-style:hover {
    color: #C8A2C8;
    background-color: transparent;
}